@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  color: #e5e7eb;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
